* {
    margin:0;
    box-sizing: border-box;
}

header{
    text-align:center;
    background-color:blue;
    font-weight:bold;
    margin-bottom:20px;
    padding:20px;
}

main{
    display:flex;
    flex:100%;
}
aside{
    flex:20%;
}

#search-button{
    width: 100%;
    display: block;
    text-align: center;
    color:white;
    background-color:blue;
    font-size: 20px;
  }

#search-city{
    width:100%;
    border-bottom:solid;
    padding-bottom:10px;
}

#city-name{
    width:100%;
}

p {
    font-size: 1.1rem;
    margin: 0 0 1rem;
    line-height: 1.5;
}
.conditions{
    flex:80%;
}

h2{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center
}
#future-title{
    font-weight:bold;
    font-size:20px;
    margin-left:20px;
    margin-bottom:0px;
}

.card {
    border: 1px solid #1a1a1a;
    margin:20px;
    display:inline-block;
    padding: 15px;
    background-color:darkblue;
    color:white;
    display:flex;
    flex:auto;
  }


